body {
  Background-color: #CCE6FF; 
}

h3 {
  border-bottom: solid black 1px;
}

h5 {
  height: 10px;
  font-size: 16px;
}

h6 {
  height: 1px;
  font-size: 14px;
  
}


div {

}

img {
  height: 125px;
  border: solid black 1px;
}
